
<% include partials/Header %>
  <body>
    <div class="container-fluid border bg-light mt-5">
      <div class="row">
      <% var i = 0
      while(i < 3){
        %>
          <div class="col">
            <h1 class="text-center">Section</h1>
          </div>
        <%
        i = i+1
      }
        %>
        </div>
    </div>

<% include partials/Footer %>
  </body>
</html>
