<% include partials/Header %>
  <body>
    <div class="my-5 text-center">
      <h3 class="text-center my-5"> <%=message%> </h3>
      
      <form class="" action="/registration" id="form-reg" method="post">
        <div class="form-group">
          <input type="text" id="username" name="username" class="text-center offset-5 form-control col-2" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" id="password" class="text-center form-control offset-5 col-2" name="password" value="" placeholder="password">
      </div>
        <div class="form-group mb-5">
            <input type="file" id="userimage" class="form-control offset-5 col-2" name="userimage" value="image">
        </div>
        <div class="form-group">
            <input type="submit" id="btnsubmit" class=" col-2  form-control  btn btn-success" name="submit" value="submit">
        </div>
        
        <a href="/">Sign In</a>
      </form>

    </div>


    <% include partials/Footer %>
    <script type="text/javascript" src="js/custom.js">

    </script>
  </body>
</html>
